body {
    font-family: "Roboto", sans-serif;
	margin: 0px;
	background-color:#CFD8DC;
	text-align:center;
	font-size: 16px;
}
h1 {
    color: #009688;
	font-size: 40px;
	margin-top: 10px;
	
}
p {
	
	font-size: 24px;
    color: #009688;
	margin-left: 200px;
	margin-right: 200px;
}


p.foot {
	color: white;
	text-align: center;
	font-size: 12 px;
	margin-left: 0px;
	margin-right: 0px;
	
	background-color: #009688;
	margin-bottom: 0px;
	width: 100%;
}

h2 {
	color: white;
}
tr, td {
	font-size: 20px;		
	text-align: center;
	
	
}
			
td {
	color: white;
	background: #009688;
	transition: background-color .3s;
	transition: color .3s;
	
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	
}
			
td:hover {
	background-color: #009688;
	color: #B2DFDB;
	text-decoration: none;
	border-bottom: solid white;
}

td.current {
	background-color: #009688;
	color: #B2DFDB;
	border-bottom: solid white;
}
			
			
div.header {
	background-color: #009688;
	padding-bottom: 5px;
	padding-top: 5px;
	
}			
h1.title {
	font-size: 48px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
	text-align: center;
}			
img.headerimg {
	width: 100%;
}			
a {
	color: white;
	background: #009688;
	transition: background-color .5s;
	transition: color .5s;
	text-decoration: none;
	
}
			
a:hover {
	background-color: #009688;
	color: #B2DFDB;
	text-decoration: none;
}
a.current {
	background-color: #009688;
	color: #B2DFDB;
}

a.mapImage {
	
	display: inline-block;
	margin: 5px;
	box-shadow: none;
	width: 400px;
	
	filter: grayscale(100%);
	opacity: 0.7;
	transition: opacity .3s;
	transition: box-shadow .3s;
	color: white;		
			
}
			
a.mapImage:hover {
	filter: grayscale(0%);	
	box-shadow: 8px 8px 5px gray;
	opacity: 1;
	color: white;
	
}

a.rick {
	background-color: #CFD8DC;
	color: #009688;
}

::-webkit-scrollbar {
    width: 0px;
	
}
::-webkit-scrollbar-track {
    background-color: #CFD8DC;
    border-left: 1px solid #ccc;
	
}
::-webkit-scrollbar-thumb {
    background-color: #009688;
	
    
}
::-webkit-scrollbar-thumb:hover {
	background-color: #004D40;
  
}
 
a.back {
	position: fixed;
	top: 0px;
	left: 20px;
	
}

input[type=text] {
    width: 200px;
	height: 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.2s ease-in-out;
	margin-top: 5px;
	
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 30%;
}
div.contactus {
	display: inline-block;
	
	
}

h2.name {
	color: #009688;
}